asgiref==3.8.1
boto3==1.35.25
botocore==1.35.25
certifi==2024.8.30
charset-normalizer==3.3.2
Django==5.1.1
exceptiongroup==1.2.2
idna==3.10
iniconfig==2.0.0
jmespath==1.0.1
packaging==24.1
pluggy==1.5.0
pytest==8.3.3
python-dateutil==2.9.0.post0
requests==2.32.3
s3transfer==0.10.2
six==1.16.0
sqlparse==0.5.1
tomli==2.0.1
typing_extensions==4.12.2
urllib3==2.2.3
apig_wsgi
aws-lambda-powertools
